# Neuro SAN
neuro-san==0.5.49
neuro-san-web-client==0.1.12
nsflow==0.5.16

# For the airline_policy demo and agentic rag, to extract text from documents
pypdf>=5.4.0
pymupdf>=1.25.5

# To use a .env file for environment variables
python-dotenv==1.0.1

# For asynchronous file operations
aiofiles>=24.1.0

# For MCP servers and clients
langchain-mcp-adapters>=0.1.7
