# Copyright (C) 2023-2025 Cognizant Digital Business, Evolutionary AI.
# All Rights Reserved.
# Issued under the Academic Public License.
#
# You can be released from the terms, and requirements of the Academic Public
# License by purchasing a commercial license.
# Purchase of a commercial license is mandatory for any use of the
# neuro-san SDK Software in commercial settings.
#
# END COPYRIGHT

# To use this agent network, you will need to
# - pip install -U langchain-google-community\[gmail\]
# - set up your credentials explained in 
# https://developers.google.com/workspace/gmail/api/quickstart/python#authorize_credentials_for_a_desktop_application.
# Once you've downloaded the credentials.json file and put it in the top level of this repo,
# you can start using the agent network.

{
    "llm_config": {
        "model_name": "gpt-4o",
    },
    "tools": [
        {
            "name": "Gmail Assistant",
            "function": {
                description = "An assistant that helps the user manage their Gmail inbox, including reading, searching, drafting, and sending emails."
            },
            "instructions": """
            You can use the Gmail Tools to interact with the user's Gmail account. Available actions include:

            - Search for emails by query
            - Retrieve the content of a specific email
            - Retrieve an entire email thread
            - Create a draft email
            - Send an email
            - Send an email message with attachment

            Use these tools to carry out tasks requested by the user related to their Gmail account.
            """,
            "tools": ["gmail_handler_no_attachment", "gmail_handler_with_attachment"]
        },

        {
            "name": "gmail_handler_no_attachment",

            # "gmail_toolkit" is a tool from the toolbox located at toolbox/toolbox_info.hocon
            # Tools in "gmail_toolkit" cannot attach files to the email.
            # Detailed information on the gmail_toolkit can be found at https://python.langchain.com/docs/integrations/tools/gmail/.
            "toolbox": "gmail_toolkit"
        },

        {
            "name": "gmail_handler_with_attachment",

            # "send_gmail_message_with_attachment" is a coded tool from the toolbox located at toolbox/toolbox_info.hocon
            # This tool is solely for sending an email with attachment.
            # The code of this tool can be found at coded_tools/gmail_attachment.py
            "toolbox": "send_gmail_message_with_attachment"
            "args": {
                # This is an optional argument for sending the message as html. Default is False.
                "html": false
            }
        }
    ]
}
