
# Copyright (C) 2023-2025 Cognizant Digital Business, Evolutionary AI.
# All Rights Reserved.
# Issued under the Academic Public License.
#
# You can be released from the terms, and requirements of the Academic Public
# License by purchasing a commercial license.
# Purchase of a commercial license is mandatory for any use of the
# neuro-san SDK Software in commercial settings.
#
# END COPYRIGHT
{
    # Currently we list each hocon file we want to serve as a key with a boolean value.
    # Eventually we might have a dictionary value with server specifications for each.
    "hello_world.hocon": true,
    "insurance_underwriting_agents.hocon": true,
    "airline_policy.hocon": true,
    "advanced_calculator.hocon": true,
    "brave_search.hocon": false,
    "smart_home.hocon": true,
    "agent_network_designer.hocon": true,
    "consumer_decision_assistant.hocon": true,
    "airbnb.hocon": true,
    "expedia.hocon": true,
    "macys.hocon": true,
    "carmax.hocon": true,
    "booking.hocon": true,
    "website_search.hocon": true,
    "music_nerd.hocon": true,
    "music_nerd_local.hocon": true,
    "music_nerd_pro.hocon": true,
    "music_nerd_pro_local.hocon": true,
    "music_nerd_pro_sly.hocon": true,
    "music_nerd_pro_sly_local.hocon": true,
    "agentforce.hocon": true,
    "agentspace_adapter.hocon": false,
    "banking_ops.hocon": true,
    "cpg_agents.hocon": true,
    "insurance_agents.hocon": true,
    "intranet_agents.hocon": true,
    "intranet_agents_with_tools.hocon": true,
    "real_estate.hocon": false,
    "retail_ops_and_customer_service.hocon": true,
    "six_thinking_hats.hocon": true,
    "telco_network_support.hocon": true,
    "pdf_rag.hocon": true,
    "agentic_rag.hocon": true,
    "kwik_agents.hocon": true,
    "TherapyVignetteSupervisors.hocon": true,

    # Set the following agent network to true before running apps/conscious_assistant/interface_flask.py
    "conscious_agent.hocon": false,

    # Set the following agent network to true before running apps/log_analyzer/log_analyzer.py
    "log_analysis_agents.hocon": false

    # Before turning on and running the following agent network, make sure that:
    # The MCP server is running.
    # The server can be found at servers/MCP/bmi_server.py and run using the following command
    # python bmi_server.py
    "mcp_bmi_sse.hocon": false,

    # The following agent network is an example of Agent2Agent (A2A) Protocol implementation:
    # Make sure to start the A2A server before turning the agent on.
    # The A2Aserver can be found at cservers/A2A/server.py and run by command
    # python server.py
    "a2a_research_report.hocon": false,

    # To use this agent network, you will need to set up your credentials explained in 
    # https://developers.google.com/workspace/gmail/api/quickstart/python#authorize_credentials_for_a_desktop_application.
    # Once you've downloaded the credentials.json file and put it in the top level of this repo,
    # you can start using the agent network.
    "gmail.hocon": false,

    "LinkedInJobSeekerSupportNetwork.hocon": true

}
