
# Copyright (C) 2023-2024 Cognizant Digital Business, Evolutionary AI.
# All Rights Reserved.
# Issued under the Academic Public License.
#
# You can be released from the terms, and requirements of the Academic Public
# License by purchasing a commercial license.
# Purchase of a commercial license is mandatory for any use of the
# neuro-san SDK Software in commercial settings.
#
# END COPYRIGHT
{
    # Currently we list each hocon file we want to serve as a key with a boolean value.
    # Eventually we might have a dictionary value with server specifications for each.
    "hello_world.hocon": true,
    "airline_policy.hocon": true,
    "advanced_calculator.hocon": true,
    "smart_home.hocon": true,
    "smart_home_onf.hocon": true,
    "agent_network_designer.hocon": true,
    "agent_network_generator.hocon" : true,
    "music_nerd.hocon": true,
    "music_nerd_pro.hocon": true,
}
