
# Copyright (C) 2023-2025 Cognizant Digital Business, Evolutionary AI.
# All Rights Reserved.
# Issued under the Academic Public License.
#
# You can be released from the terms, and requirements of the Academic Public
# License by purchasing a commercial license.
# Purchase of a commercial license is mandatory for any use of the
# neuro-san SDK Software in commercial settings.
#
# END COPYRIGHT
{
    "llm_config": {
        "model_name": "gpt-4o",
    },
    "tools": [
        # These tool definitions do not have to be in any particular order
        # How they are linked and call each other is defined within their
        # own specs.  This could be a graph, potentially even with cycles.

        # This first agent definition is regarded as the "Front Man", which
        # does all the talking to the outside world/client.
        # It is identified as such because it is either:
        #   A) The only one with no parameters in his function definition,
        #      and therefore he needs to talk to the outside world to get things rolling.
        #   B) The first agent listed, regardless of function parameters.
        #
        # Some disqualifications from being a front man:
        #   1) Cannot use a CodedTool "class" definition
        #   2) Cannot use a Tool "toolbox" definition
        {
            "name": "searcher",

            "function": {
                "description": "Assist caller with searching an url.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "user_inquiry": {
                            "type": "string",
                            "description": """
                            An inquiry from a user.
                            """
                        },
                    },
                    "required": ["user_inquiry"]
                }
            },

            "instructions": """
Use your tool to respond to the inquiry.
""",
            "tools": ["website_search"]
        },
        {
            "name": "website_search",
            "function": {
                "description": """
Assist caller with searching an url on the web by using your tool.
```
                """,
                "parameters": {
                    "type": "object",
                    "properties": {
                        "url": {
                            "type": "string",
                            "description": "The url to search in."
                        },
                        "search_terms": {
                            "type": "string",
                            "description": "Search terms to return options."
                        },
                    },
                    "required": ["url", "search_terms"]
                }
            },
            "class": "website_search.WebsiteSearch",
        },
    ]
}
